main {
  box-sizing: border-box;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", "Academy Engraved LET", "URW Chancery L", sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  min-height: 100vh;
  height: 200vh;
  padding: 72px 0;
  text-align: center;
  background-color: rgb(55, 55, 98);
}
h1 {
  font-size: 72px;
  font-family: "URW Chancery L";
  font-weight: 100;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  padding-bottom: 0px;
}

button {
  font-size: 25px;
  font-family: "URW Chancery L";
  font-weight: 300;
  padding: 10px;
  padding-top: 6px;
  height: 45px;
  width: 200px;
  border-radius: 0px;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  margin-bottom: 10px;
  background-color: rgb(185, 183, 183);
  margin: 0px 15px 10px 15px;
}
button:hover {
  background-color: rgb(195, 133, 96);
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}
h2 {
  margin-top: 1.5em;
  color: white;
}
p {
  font-size: 18px;
  font-family: "URW Chancery L";
  font-weight: 500;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  color: white;
}
a {
  border-bottom: 0px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: "\`";
}

.data-filed {
  margin-left: 5px;
  font-size: 18px;
  min-width: max-content;
}

.token-input {
  font-size: 16px;
  font-family: "URW Chancery L";
  font-weight: 400;
  width: 200px;
  height: 40px;
  border-radius: 0px;
  border-width: 2px;
  border-color: black;
  padding-left: 20px;
  background-color: rgb(185, 183, 183);
}
.profile-collection {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.profile {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 180px;
}
