main {
  box-sizing: border-box;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", "Academy Engraved LET", "URW Chancery L", sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  min-height: 100vh;
  height: 1000vh;
  overflow: auto;
  padding: 72px 0;
  text-align: center;
  background-color: rgb(55, 55, 98);
  font-family: "URW Chancery L";
}
h1 {
  font-size: 72px;
  font-family: "URW Chancery L";
  font-weight: 100;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  padding-bottom: 0px;
}

button {
  font-size: 25px;
  font-family: "URW Chancery L";
  font-weight: 300;
  padding: 10px;
  padding-top: 6px;
  height: 45px;
  width: 100px;
  border-radius: 0px;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  margin-bottom: 10px;
  background-color: rgb(185, 183, 183);
}
button:hover {
  background-color: rgb(195, 133, 96);
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}
h2 {
  margin-top: 1.5em;
  color: white;
}
p {
  font-size: 18px;
  font-family: "URW Chancery L";
  font-weight: 500;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  color: white;
}

code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: "\`";
}

.profile-link {
  border-bottom: 0px solid white;
  font-family: "URW Chancery L";
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
.profile-link:hover {
  border-bottom: 1px solid #0076ff;
}
.data-filed {
  margin-left: 5px;
  font-size: 18px;
  min-width: max-content;
}

.collection-select {
  font-size: 16px;
  font-family: "URW Chancery L";
  font-weight: 400;
  width: 326px;
  height: 46px;
  border-radius: 0px;
  border-width: 2px;
  border-color: black;
  padding-left: 20px;
  background-color: rgb(185, 183, 183);
}

.token-input {
  font-size: 16px;
  font-family: "URW Chancery L";
  font-weight: 400;
  width: 300px;
  height: 40px;
  border-radius: 0px;
  border-width: 2px;
  border-color: black;
  padding-left: 20px;
  background-color: rgb(185, 183, 183);
}
.profile-collection {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.profile {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 180px;
}

@media screen and (max-width: 810px) {
  .container {
    flex-direction: column;
  }
  .submit-button {
    margin-top: -5px;
  }
}

@media screen and (max-width: 950px) {
  .container-big {
    flex-direction: column;
  }
  .container-text {
    margin-left: 0px !important;
    margin-top: 15px;
  }
}

.menuItem {
  font-family: "URW Chancery L";
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-bottom: 5px;
  text-decoration: none;
}
.menuItem:hover {
  text-decoration: underline;
}

.toggle-container {
  width: 150px;
  cursor: pointer;
  user-select: none;
  height: 32px;
  position: relative;
}

.dialog-button {
  font-family: "URW Chancery L";
  line-height: 16px;
  cursor: pointer;
  color: white;
  padding: 8px 0px 0px 7px;
  border-radius: 18px;
  min-width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  min-width: unset;
  border-radius: 3px;
  box-sizing: border-box;
  position: absolute;
  left: 74px;
  transition: all 0.3s ease;
}

.disabled {
  left: 2px;
}
